 <% @ad.comments.each do |comment| %>
 <div class="row">
 	<%= comment.member.email %>
 	<span class="pull-right"> <%= time_ago_in_words(comment.created_at) %></span>
        <p><%= comment.body %> </p>

      <% if (current_member) && (comment.member.id == comment.member.id) %>
     <%= rating_for_user @ad, current_member, 'quality', star_path: 'images/ratyrate' %>
     <% end %>
    
   </div>

   <hr>
            
<% end %>